@charset "utf-8";

/*Aparelhos em pee*/

body{
    background: url("../Imagens/cev-portrait.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
}
