@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: black;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../imagens/fundo-madeira.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
section#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 550px;
    background-image: url("../imagens/frame-iphone.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
iframe#tela{
    position: relative;
    top: 12.7%;
    left: 6.8%;
    height: 415px;
    width: 269px;
}
section#Botoes{
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}
section#Botoes a > img{
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: -3px 5px 7px rgba(0, 0, 0, 0.63) ;
}
section#Botoes img:hover{
    border: 3px solid rgba(255, 255, 255, 0.815);
    box-shadow: 3px 5px 7px black;
    transform: translate(-3px, -3px);
    transition: transform .5s, border .7s;
}