@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
  
}
a{
    margin: 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: brown;
}